.s1 {
    background: url();
}

h1 {
    font-size: 1.75em;
    text-align: left;
    margin-left: 3em;
}

#contact label,
#contact input,
#contact textarea {
    box-sizing: border-box;
    display: block;
    margin-top: .75em;
}